<!DOCTYPE html>
{% load bootstrap5 %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Title{% endblock %}</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    {% bootstrap_css %}
</head>

<body>
  <div class="container-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'todolist:index' %}">ToDoList</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="{% url 'todolist:list' %}">Works</a>
            <a class="nav-link" href="{% url 'todolist:filter' %}">Filter</a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="d-flex">
            {% if user.is_authenticated %}
                <div style="margin-left: 230px">Welcome {{ user.username }}</div>
                <div style="margin-left:10px"><a href="{% url 'register_login:logout' %}">LogOut</a></div>
            {% else %}
                <div style="margin-left: 230px">please login</div>
                <div style="margin-left:10px"><a href="{% url 'register_login:login' %}">Login</a></div>
            {% endif %}
        </div>
      </div>
    </nav>
  </div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <p style="margin-left: 450px" class="navbar-nav">created by matinmat8</p>
  </div>
</nav>
    <div>
        <main>
            {% block main_content %}
              <div  class="container-sm mt-3">
                  <h3>ToDoList App</h3>
                  <p class="lead">This is a web application for plan your works and don't forget your works, we recommend you
                      to make an account and plan your works.</p>
              </div>
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>

    </div>
    <script>
        {% block javascript %}
             $(function () {
                $("#due_date").datepicker({
                  format:'yyyy-mm-dd',
                });
              });

            function ShowForm() {
               document.getElementById('Add-Work').style.display = "none";
               document.getElementById('form').style.display = "block";
            }

        {% endblock %}
    </script>
</body>
</html>