{% extends 'todolist/base.html' %}
{% load bootstrap5 %}

{% block title %}hi{% endblock %}


{% block main_content %}
    <div class="container-sm mt-2">
        <form id="form" method="POST" action="{% url 'todolist:filter' %}">
          {{ form.as_p }}
          {% csrf_token %}
          <input class="btn btn-dark" id="button" type="submit">
        </form>
    </div>
    {% for obj in object_list %}
        <div class="container-sm mt-3">
            <p style="font-size:large">{{ obj.title }}</p>
            <p style="font-size:small; color:#303841">{{ obj.description }}</p>
            <p style="font-size:small; color:#303841">{{ obj.due_date }}</p>
        </div>
        <hr>
        <br>
    {% endfor %}
{% endblock %}

{% block javascript %}
 $(function () {
    $("#due_date").datepicker({
      format:'yyyy-mm-dd',
    });
  });
{% endblock %}