{% extends 'todolist/base.html' %}

{% block title %}Tasks List{% endblock %}

{% block main_content %}
    {% for obj in object_list %}
        <div class="container-sm mt-3">
            <a href="{{ obj.get_absolute_url }}" style="font-size:large; display:block;">{{ obj.title }}</a>
            <p style="font-size:small; margin-right: 10px; display:inline; color:gray">{{ obj.due_date }}</p>
            <a class="link-secondary" href="{% url 'todolist:delete' obj.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </a>
        </div>
        <hr>
        <br>
    {% endfor %}
    <div class="container-sm mt-2 mb-5">
        <form style="display:none;" id="form" method="POST" action="{% url 'todolist:list' %}">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="btn btn-dark" id="button" type="submit">
        </form>
        <button style="margin:15px 0 15px 0;" type="button" onclick="ShowForm()" id="Add-Work" class="btn btn-dark">Add Work +</button>
        <br>
    </div>
{% endblock %}