{% extends 'todolist/base.html' %}
{% block title %}work lists{% endblock %}

{% block main_content %}
    {% for obj in object_list %}
        <div class="container-sm mt-3">
            <a href="{{ obj.get_absolute_url }}" style="font-size:large">{{ obj.title }}</a>
            <p style="font-size:small; color:gray">{{ obj.due_date }}</p>
        </div>
        <hr>
        <br>
    {% endfor %}
    <div class="container-sm mt-2 mb-5">
        <form style="display:none;" id="form" method="POST" action="{% url 'todolist:list' %}">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="btn btn-dark" id="button" type="submit">
        </form>
        <button style="margin:15px 0 15px 0;" type="button" onclick="ShowForm()" id="Add-Work" class="btn btn-dark">Add Work +</button>
        <br>
    </div>
{% endblock %}